{# templates/events/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Création d'un événement{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center">Création d'un événement</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                {{ form_start(form) }}
                <div class="form-group mb-3">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.title) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.description) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_label(form.date) }}
                    {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.date) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_label(form.participants_number) }}
                    {{ form_widget(form.participants_number, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.participants_number) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_label(form.public) }}
                    {{ form_widget(form.public, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.public) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_widget(form.free, {'attr': {'class': 'form-control'}}) }}
                    {# {{ form_errors(form.cout) }} #}
                </div>
                <div class="form-group mb-3 id="container">
                {{ form_label(form.price) }}
                    {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
                    {# {{ form_errors(form.cout) }} #}
                </div>
                <div class="form-group text-center">
                    {{ form_widget(form.add, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
     <script>
        document.addEventListener('DOMContentLoaded', function() {
            const freeSelect = document.getElementById('event_free');
            const priceContainer = document.getElementById('event_price').parentElement;
            const togglePriceField = () => {
                if (freeSelect.value === '1') {
                    document.getElementById('event_price').value ="";
                    priceContainer.style.display = 'block';
                } else {
                    priceContainer.style.display = 'none';
                    document.getElementById('event_price').value = 0;
                }
            };

            freeSelect.addEventListener('change', togglePriceField);
            togglePriceField();
        });
    </script>
{% endblock %}

