{% extends 'base.html.twig' %}

{% block title %}{{ event.title }} - Event Details{% endblock %}

{% block body %}
    <h1>{{ event.title }}</h1>
    <p>{{ event.description }}</p>
    <p><strong>Date et horaire:</strong> {{ event.date|date('Y-m-d H:i') }}</p>
    <p><strong>Participants:</strong> {{event.getReservedPlaces()}} / {{ event.participantsNumber }}</p>
    <p><strong>Prix : </strong>{{ event.price }}€</p>
    <p><strong>Public : </strong>{{event.getReservedPlaces()}} </p>
    <p>{{event.hasRemainingPlaces()}}</p>

    {% if not event.hasParticipant(app.user) %}
        <button class="btn btn-primary" {{event.hasRemainingPlaces() ? "" : "disabled" }} onclick="window.location.href='{{ path('event_inscription', {id: event.id}) }}'">S'inscrire</button>
    {% endif %}
{% endblock %}