{% extends 'base.html.twig' %}

{% block title %}{{ event.title }} - Event Details{% endblock %}

{% block body %}
    <h1>{{ event.title }}</h1>
    <p>{{ event.description }}</p>
    <p><strong>Date and Time:</strong> {{ event.date|date('Y-m-d H:i') }}</p>
    <p><strong>Max Participants:</strong> {{ event.participantsNumber }}</p>
    <p><strong>Public:</strong> {{ event.public ? 'Yes' : 'No' }}</p>
{% endblock %}