{# templates/event/profile.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Event List{% endblock %}

{% block body %}
<div class="container">
    <h1>Event List</h1>

    <form method="get" action="{{ path('list_events') }}">
        <div class="row mb-4">
            <div class="col-md-3">
                <input type="text" name="title" class="form-control" placeholder="Title" value="{{ app.request.query.get('title') }}">
            </div>
            <div class="col-md-3">
                <input type="date" name="date" class="form-control" value="{{ app.request.query.get('date') }}">
            </div>
            <div class="col-md-3">
                <select name="placesRemaining" class="form-control">
                    <option value="">Tous les événements</option>
                    <option value="1" {{ app.request.query.get('placesRemaining') == '1' ? 'selected' : '' }}>Place disponible</option>
                </select>
            </div>
            <div class="col-md-3">
                <select name="isPublic" class="form-control">
                    <option value="">Publique/Privé</option>
                    <option value="1" {{ app.request.query.get('isPublic') == '1' ? 'selected' : '' }}>Publique</option>
                    <option value="0" {{ app.request.query.get('isPublic') == '0' ? 'selected' : '' }}>Privé</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>

    <div class="row mt-4">
        {% for event in events %}
            {% if (not event.isPublic and app.user) or event.isPublic %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ event.title }}</h5>
                            <p class="card-text">
                                <small class="text-muted">
                                    Date: {{ event.date|date('Y-m-d H:i') }}<br>
                                </small>
                            </p>
                            <p class="card-text">
                                    Participants: {{event.getRemainingPlaces()}} / {{ event.participantsNumber }}<br>
                                    Public: {{ event.isPublic ? 'Yes' : 'No' }} 
                            </p>
                            <a href="{{ path('event_show', {id: event.id}) }}" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
            </div>
            {% endif %}
        {% else %}
            <div class="col-12">
                <p>No events found.</p>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-12">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item {% if currentPage == 1 %}disabled{% endif %}">
                        <a class="page-link" href="{{ path('list_events', { page: currentPage - 1 }) }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for i in 1..pagesCount %}
                        <li class="page-item {% if currentPage == i %}active{% endif %}">
                            <a class="page-link" href="{{ path('list_events', { page: i }) }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                    <li class="page-item {% if currentPage == pagesCount %}disabled{% endif %}">
                        <a class="page-link" href="{{ path('list_events', { page: currentPage + 1 }) }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}
